networks:
  default:
    name: docker-default-network
    external: true

services:
  shell:
    image: shell
    build:
      context: .
      args:
        - AIM=shell
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.shell.rule=PathPrefix(`/`)"
      - "traefik.http.routers.shell.entrypoints=web,websecure"
      - "traefik.http.services.shell.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.shell.loadbalancer.healthcheck.port=80"
      - "traefik.http.routers.shell.priority=100"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 1s
      timeout: 2s
      retries: 3
  ekf:
    image: ekf
    build:
      context: .
      args:
        - AIM=ekf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ekf.rule=PathPrefix(`/ekf`)"
      - "traefik.http.middlewares.ekf-strip.stripprefix.prefixes=/ekf"
      - "traefik.http.routers.ekf.middlewares=ekf-strip@docker"
      - "traefik.http.routers.ekf.entrypoints=web,websecure"
      - "traefik.http.services.ekf.loadbalancer.server.port=80"
      - "traefik.http.services.ekf.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.ekf.loadbalancer.healthcheck.port=80"
      - "traefik.http.routers.ekf.priority=120"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 1s
      timeout: 2s
      retries: 3

  loans:
    image: loans
    build:
      context: .
      args:
        - AIM=loans
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.loans.rule=PathPrefix(`/loans`)"
      - "traefik.http.middlewares.loans-strip.stripprefix.prefixes=/loans"
      - "traefik.http.routers.loans.middlewares=loans-strip@docker"
      - "traefik.http.routers.loans.entrypoints=web,websecure"
      - "traefik.http.services.loans.loadbalancer.server.port=80"
      - "traefik.http.services.loans.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.loans.loadbalancer.healthcheck.port=80"
      - "traefik.http.routers.loans.priority=120"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 1s
      timeout: 2s
      retries: 3

  partner:
    image: partner
    build:
      context: .
      args:
        - AIM=partner
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.partner.rule=PathPrefix(`/partner`)"
      - "traefik.http.middlewares.partner-strip.stripprefix.prefixes=/partner"
      - "traefik.http.routers.partner.middlewares=partner-strip@docker"
      - "traefik.http.routers.partner.entrypoints=web,websecure"
      - "traefik.http.services.partner.loadbalancer.server.port=80"
      - "traefik.http.services.partner.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.partner.loadbalancer.healthcheck.port=80"
      - "traefik.http.routers.partner.priority=120"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 1s
      timeout: 2s
      retries: 3

