networks:
  default:
    name: docker-default-network
    external: true

services:
  verdaccio:
    image: verdaccio/verdaccio
    container_name: 'verdaccio'
    environment:
      - VERDACCIO_PORT=4873
    ports:
      - '4873:4873'
    volumes:
      - verdaccio_storage:/verdaccio/storage
      - verdaccio_conf:/verdaccio/conf
      - verdaccio_plugins:/verdaccio/plugins

volumes:
  verdaccio_storage:
  verdaccio_conf:
  verdaccio_plugins: