
networks:
  backends:
    driver: bridge
  proxy:
  default:
    name: docker-default-network
    external: true

services:

  socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LOG_LEVEL: "notice"
      CONTAINERS: 1
    healthcheck:
      test: ["CMD", "nc", "-zv", "localhost", "2375"]
      interval: 3s
      timeout: 3s
      retries: 3
      start_period: 1s
    networks:
      - proxy

  traefik:
    image: avogt/traefik-with-localhost-tls:2.11
    command:
      - --providers.file.filename=/traefik_conf.yml
      - --providers.docker.endpoint=tcp://socket-proxy:2375
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --providers.docker=true
      - --providers.docker.watch=true
      - --providers.docker.exposedbydefault=false
      - --api
      - --api.insecure=true
      - --api.dashboard=true
    depends_on:
      - socket-proxy
    ports:
      - "80:80"
      - "443:443"
      - "8888:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - backends
      - proxy
      - default

  web:
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`example.localhost.direct`)"
      - "traefik.http.routers.web.entrypoints=web,websecure"
      - "traefik.http.services.web.loadbalancer.server.port=80"
      - "traefik.http.services.web.loadbalancer.sticky.cookie=false"
    networks:
      - backends
    deploy:
      replicas: 4

  test-http-200:
    image: curlimages/curl:latest
    command: 
      - /bin/sh
      - -c
      - "while true; do curl -k -f -H 'Host: example.localhost.direct' -w '\\nHTTP Status: %{http_code}\\n' https://traefik && sleep 10 || sleep 5; done"
    depends_on:
      - traefik
      - web
    networks:
      - default
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://example.localhost.direct"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
