services:
  traefik:
    image: avogt/traefik-with-localhost-tls:2.11
    command:
      - --providers.file.filename=/traefik_conf.yml
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --providers.docker=true
      - --providers.docker.watch=true
      - --providers.docker.exposedbydefault=false
      - --api
      - --api.insecure=true
      - --api.dashboard=true

    ports:
      - "80:80"
      - "443:443"
      - "8888:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - internal

  web:
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`example.localhost.direct`)"
      - "traefik.http.routers.web.entrypoints=web,websecure"
      - "traefik.http.services.web.loadbalancer.server.port=80"
      - "traefik.http.services.web.loadbalancer.sticky.cookie=false"
    networks:
      - internal
    deploy:
      replicas: 4

networks:
  internal:
    driver: bridge
