.snackbar-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0;

  &--info {
    --icon-color: var(--core-finance-primary);
  }

  &--success {
    --icon-color: var(--core-finance-validation-success-primary);
  }

  &--error {
    --icon-color: var(--core-finance-error);
  }
}

.snackbar-icon {
  font-size: 20px;
  color: var(--icon-color);
}

.snackbar-message {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
}

.snackbar-close {
  color: inherit !important;
  margin-left: 8px;

  .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

