h3{
    margin-left: 1rem;
    margin-bottom: 0;
}

.history-card {

    .mat-mdc-card-header {
        padding: 0.25rem 1rem;
    }

    .mat-mdc-card-title {
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        mat-icon {
            font-size: 1.25rem;
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    .mat-mdc-list-item-unscoped-content {
        font-size: 0.875rem;
    }

    .mat-mdc-list-item {
        height: 2rem;

        &:hover {
            background-color: var(--core-finance-surface);
        }
    }
}
