
networks:
  backends:
  default:
    name: docker-default-network
    external: true

services:
  web:
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`example.localhost.direct`)"
      - "traefik.http.routers.web.entrypoints=web,websecure"
      - "traefik.http.services.web.loadbalancer.server.port=80"
      - "traefik.http.services.web.loadbalancer.sticky.cookie=false"
    networks:
      - backends
    depends_on:
      gateway:
        condition: service_healthy
    deploy:
      replicas: 3

  test-loadbalancing:
    image: curlimages/curl:latest
    entrypoint:
      - /bin/sh
      - -c
      - |
        cat > /tmp/test-http-200-check.sh << 'EOF'
        #!/bin/sh
        curl -k -f -v \
          -H "Host: example.localhost.direct" \
          -w '\nHTTP Status: %{http_code}\n' \
          https://gateway
        exit $?
        EOF
        chmod ugo+x /tmp/test-http-200-check.sh;
        while true; do
            /tmp/test-http-200-check.sh; sleep 2;
        done
        sleep infinity
    depends_on:
      gateway:
        condition: service_healthy
      web:
        condition: service_started
    networks:
      - edge
    healthcheck:
      test:
        - CMD
        - /bin/sh
        - /tmp/test-http-200-check.sh
      interval: 1s
      timeout: 1s
      retries: 5
      start_period: 1s
