.button-group {
  display: flex;
  gap: 0.5rem;

  button {
    font-size: 1rem;
    height: 2rem;
  }
}

.icon-size {
  transform: scale(0.5);
}

.search-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  max-width: 50rem;

  &:nth-child(1),
  &:nth-child(2) {
    width: 50%;

    shared-validated-form-field {
      flex: 1 1 15rem;
      min-width: 15rem;
    }
  }

  &:nth-child(3) {
    width: 100%;

    shared-validated-form-field {
      &:nth-child(1),
      &:nth-child(3) {
        flex: 1 1 12rem;
        min-width: 12rem;
      }

      &:nth-child(2) {
        flex: 1 1 9rem;
        min-width: 9rem;
      }
    }
  }
}
